html, body {
  margin: 0;
  padding: 0;
  background-color: #F3F1FF;
  font-family:
}

h1 {
  position: relative;
  left: 790px;
  top: 20px;
  padding: 8px;
  color: #645256;
  font-family:
}

p {
  position: relative;
  left: 800px;
  top: 40px;
  padding: 1px;
  color: #645256;
}

canvas {
  position: relative;
  left: 100px;
  top: 1px;
}
